<launch>

    <!-- Bag file -->
    <arg  name="bag_file" default="/media/$(env USER)/mySataSSD/DATASETS/NTU_VIRAL/eee_01/eee_01.bag"/>

    <arg name="config_path"  default = "$(find r2live)/../config/ntuviral/filr_cam.yaml" />
	<arg name="vins_path"    default = "$(find r2live)/../config/../" />
    <rosparam command="load" file="$(find r2live)/../config/ntuviral/lio_config.yaml" />

    <node name="feature_tracker_r2live" pkg="feature_tracker_r2live" type="feature_tracker_r2live" output="log">
        <param name="config_file" type="string" value="$(arg config_path)" />
        <param name="vins_folder" type="string" value="$(arg vins_path)" />
        <param name="image_topic" type="string" value="/right/image_raw"/>
    </node>
    
    <param name="imu_topic"             type="string"  value="/imu/imu_mod"/>
    <param name="if_write_to_bag"       type="int"     value="0" />
    <param name="record_bag_name"       type="string"  value="/home/tmn/kitti_bag/lic_record_bag/lic.bag" />
    <param name="if_dump_log"           type="int"     value="0" />
    <param name="acc_mul_G"             type="int"     value="0" />
    <param name="lidar_drag_cam_tim"    type="int"     value="10" />
    <param name="if_lidar_start_first"  type="int"     value="1" />

    <!-- Lidar feature extraction -->
    <node pkg="r2live" type="lio_feat_extract" name="lio_feat_extract"  output="screen">
        <!-- ouster topic -->
        <remap from="/os1_cloud_node/points"   to="/os1_cloud_node1/points"/>
    </node>

    <!-- Lidar Visual fusion? -->
    <group if="1">
        <node name="r2live" pkg="r2live" type="r2live" output="screen">
                <param name="config_file" type="string" value="$(arg config_path)" />
                <param name="vins_folder" type="string" value="$(arg vins_path)" />

                <!-- IMU topic (must remap because it is hardcoded topic in fast_lio as /livox/imu) -->
                <remap from="/livox/imu"     to="/imu/imu_mod"/>

                <!-- feature topic -->
                <remap from="/feature_tracker/feature"     to="/feature_tracker_r2live/feature"/>
                <remap from="/feature_tracker/feature_img" to="/feature_tracker_r2live/feature_img"/>
                <remap from="/feature_tracker/restart"     to="/feature_tracker_r2live/restart"/>
        </node>
    </group>

    <!-- IMU mod -->
    <node pkg="lvi_sam" type="lvi_sam_imuMod" name="lvi_sam_imuMod" output="screen" respawn="true">
        <param name="imu_topic"         type="string" value="/imu/imu" />
        <rosparam param="tf_Bold_Bnew"> [1,  0,  0, 0,
                                         0, -1,  0, 0,
                                         0,  0, -1, 0,
                                         0,  0,  0, 1]</rosparam>
    </node>
        
    <arg name="rviz" default="1" />
    <group if="$(arg rviz)">
        <node name="rvizvisualisation" pkg="rviz" type="rviz" output="log"
              args="-d $(find r2live)/../config/rviz/vins_rviz_config_ntuviral.rviz" />
    </group>

    <!-- Play the bag file -->
    <node required="false" pkg="rosbag" type="play" name="rosbag_player_0"
          args="$(arg bag_file) -r 1 -s 0"/>
    
</launch>